<!DOCTYPE html>
<html lang="en">
<head>
	<title>Write a Thread</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="./styles.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div class="background">
		<div class="content-box">
			<div class="title-box">
				<h1 class="title">Javascript-less Forum</h1>
				<p>A simple anonymous forum.</p>
				<p class="italic">You are {{user_id}}</p>
			</div>
			<div class="space-y-2">
				<div class="header">
					<h2 class="left-header">Create a New Thread</h2>
					<p class="right-link"><a href="/">Back to Home</a></p>
				</div>
				<form action="/upload" method="post" class="write-form">
					<input class="write-textinput w-full" type="text" name="title" placeholder="Title" required>
					<textarea class="write-textinput w-full" name="content" placeholder="Write something here..." rows="10" required></textarea>
					<br>
					<div class="flow-root w-full">
						<input class="float-right submit-button" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>